@import "tailwindcss";
@import "@nuxt/ui";

/* Global font: use Google Poppins everywhere */
html, body {
	font-family: 'Quicksand';
    background-color: #f5f5f5;
}

/* Hide scrollbars globally but keep scrolling */
* {
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Opera */
}